[Unit]
Description=ProtonVPN Service
After=NetworkManager-wait-online.service network-online.target
Wants=NetworkManager-wait-online.service
ConditionPathExists=/sys/class/net/wlp58s0

[Service]
Type=simple
ExecStart=/usr/bin/protonvpn connect --country "United States"
Restart=on-failure
RestartSec=5
ExecStop=/usr/bin/protonvpn disconnect

[Install]
WantedBy=default.target
