[Unit]
Description=ProtonVPN Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/protonvpn connect --country "United States"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

